* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
	border: none;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}
html, body {
	height: 100%;
	position: relative;
}
body {
	background-image: linear-gradient(0deg, #E0C038 0%, #C06020 50%, #7C30C0 100%) !important;
	background-color: #C06020 !important;
	background-attachment: fixed !important;
    min-width: 960px;
}
a {
	color: #C06020;
}
#header {
	background: #fff !important;
}
#header p {
	color: #C06020 !important;
}
#main {
	padding: 48px 0;
}
#main .top h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 48px;
}
#main .links {
	font-size: 0;
	text-align: center;
}
#main .links .link {
	width: 134px;
	height: 64px;
	border-radius: 4px;
	margin: 0 6px;
	display: inline-block;
	vertical-align: top;
}
#main .links.navigation {
	margin-bottom: 48px;
}
#main .links.navigation li {
	width: auto;
	height: auto;
	font-size: 16px;
	margin: 0 24px;
}
#main .links.navigation li a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}
#main .links .link:first-of-type {
	margin-left: 0;
}
#main .links .link:last-of-type {
	margin-right: 0;
}
#main .links .link a {
	display: block;
	width: 100%;
	height: 100%;
}
#main .links .link i {
	line-height: 64px;
	font-size: 48px;
	color: #fff;
}
#main .content {
	background: #fff;
	width: 100%;
	margin-top: 48px;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
	padding: 48px;
}
#main .content .schedule {
	width: 100%;
}
#main .content p {
	color: rgba(0, 0, 0, 0.64);
	font-size: 14px;
	margin-bottom: 12px;
}
#main .content a {
	text-decoration: underline;
}
#schedule .schedule .date {
	color: rgba(0, 0, 0, 0.88) !important;
}
#schedule .schedule .time {
	width: 30% !important;
	color: rgba(0, 0, 0, 0.64) !important;
}
#schedule .schedule td {
	color: rgba(0, 0, 0, 0.48);
}
#schedule .schedule .label {
	background: #C06020;
	border-radius: 3px;
	padding: 2px 8px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}
#schedule .schedule .label.food {
	background: #84C241;
}
#schedule .schedule .label.activity {
	background: #FFC411;
}
#schedule .schedule .label.tech-talk {
	background: #EA5F6C !important;
	color: #fff !important;
}
#schedule .schedule .label.judging {
	background: #B65CA2;
}


/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
.tab-links {
	margin-bottom: 24px;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
.tab-links li:first-of-type {
	margin-left: 0;
}
.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}
.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px;
    font-size:16px;
    font-weight:400;
    color:rgba(0, 0, 0, 0.64);
    text-decoration: underline !important;
}
.hardware li {
	list-style: disc;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.64);
}
li.active a {
	background: #C06020;
	color: #fff;
	font-weight: 600;
}
.tab-content {
    
}
.tab {
    display:none;
}
.tab.active {
    display:block;
}
.categories.sponsor-prizes td.sponsor {
	width: 25%;
}
.sponsor-prizes td p:before {
	content: "Prize: ";
	font-weight: 700;
}
.categories.sponsor-prizes tbody td {
	padding-bottom: 24px;
}
.sponsor-prizes td, .hardware td {
	color: rgba(0, 0, 0, 0.48);
	line-height: 32px;
    vertical-align: top;
}
.hardware td {
	padding: 12px;
	padding-left: 0;
	line-height: 24px;
}
.sponsor-prizes td.sponsor {
	width: 30%;
}
.sponsor-prizes thead td {
	text-transform: uppercase;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 48px;
}
.sponsor-prizes td.sponsor {
	font-weight: 600;
	color: rgba(0, 0, 0, 0.64);
}