=@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');
::selection{background:#C06020;color:#FFF}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   -webkit-appearance: none;
   border-radius: 0;
}
html, body {
	position: relative;
	min-height: 100%;
	width: 100%;
}
body {
	background: black;
	font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clear {
	clear: both;
}
.inner {
	width: 720px;
	margin: 0 auto;
}
#header .inner p{
	color: white;
}
#header {
	width: 100%;
	height: 48px;
	background-image: linear-gradient(-270deg, #000000 0%, #424876 50%, #7C80C7 100%);
	background-color: #C06020;
	background-size: 200% 200%;
	-webkit-animation: gradient 5s ease infinite;
	-moz-animation: gradient 5s ease infinite;
	-o-animation: gradient 5s ease infinite;
	animation: gradient 5s ease infinite;
}
#header p {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 48px;
}
#hero #attribution{
	top: 50%;
	font-size: 10px;
	text-align: right;
}
#hero #attribution a{
	color: white;
}
@media screen and (max-width: 480px) {
	#hero {
		width: 100%;
		position: relative;
		height: auto;
		padding: 96px;
		text-align: center;
		background-image: url("../images/desert_graphic.jpg");
		background-size: 100% 40%;
		background-repeat: no-repeat;
	}
	#hero #attribution {
		position: absolute;
		top: 38%;
		right: 0;
	}
}
@media screen and (min-width: 481px) {
	#hero {
		width: 100%;
		height: auto;
		padding: 96px 0;
		text-align: center;
		background-image: url("../images/desert_graphic.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
}
#hero #logo {
	width: 128px;
	display: block;
	margin: 0 auto;
}
#hero #logo-text {
	width: 128px;
	margin: 32px 0;
	padding-bottom: 64px;
}
#hero h3 {
/*	color: rgba(0, 0, 0, 0.64);
*/	
	color: white;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
}
#hero h3 strong {
	font-weight: 700;
}
#hero .buttons {
	margin: 48px 0 0;
}
#hero .button {
	background: #000;
	display: inline-block;
	width: 192px;
	margin: 0 6px 16px;
	border-radius: 3px;
	border: solid;
	border-color: white;
}
#hero .button a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 12px 32px;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}
#content {
	color: #000;
	background: white;
}
#content .section {
	padding: 96px 0;
}
#content #about, #content #schedule {
	background-image: linear-gradient(-270deg, #A17FC5 0%, #7C80C7 50%, #424876 100%);
	background-color: #C06020;
}
@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-webkit-keyframes gradientv {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes gradientv {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes gradientv {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes gradientv { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
#content #about h2, #content #about p, #content #schedule {
	color: #fff;
}
#content #sponsors {
	background: #000;
	color: #fff;
	text-align: center;
}
#content h2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 24px;
}
#content p {
	font-size: 16px;
	line-height: 24px;
}

#schedule .schedule {
	width: 100%;
}
#schedule .schedule .date {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 48px;
}
#schedule .schedule td {
	line-height: 32px;
	vertical-align: top;
}
#schedule .schedule .head .date {
	padding-top: 24px;
}
#schedule .schedule .time {
	font-weight: 700;
	width: 50%;
	color: rgba(255, 255, 255, 0.88);
}
#schedule .schedule {
	font-size: 16px;
}
#schedule .schedule .label {
	background: #C06020;
	border-radius: 3px;
	padding: 2px 8px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}
#schedule .schedule .label.food {
	background: #84C241;
}
#schedule .schedule .label.activity {
	background: #FFC411;
}
#schedule .schedule .label.tech-talk {
	background: #EA5F6C;
}
#schedule .schedule .label.judging {
	background: #B65CA2;
}
#schedule .inner p{
	margin-top: 16px;
}
#collage {
    position: relative;
    height: 500px;
    width: 100%;
    max-width: inherit;
    overflow: hidden;
    margin: 0;
    background: transparent url(../images/hackers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sponsors .sponsor {
	text-align: center;
	margin-bottom: 48px;
}
#sponsors p.sponsor {
	margin-bottom: 0;
}
#sponsors img {
	max-width: 80%;
	max-height: 70px;
	vertical-align: middle;
}
#sponsors .mlh img {
	max-width: 50%;
	max-height: 40px;
}
#sponsors .mlh .sponsor {
	margin-bottom: 24px;
}
#sponsors .12k img {
	max-width: 100%;
	max-height: 100px;
}
#sponsors p a {
	color: #fff;
}
#bio {
	display: inline-block;
	overflow: auto;
}
#faq li {
	margin-bottom: 48px;
}
#faq h4 {
	color: #000000;
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 12px;
}
#faq p {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.64);
}
#faq a {
	color: #B478FF;
	text-decoration: underline;
}
#contact {
	text-align: center;
	color: #fff;
	background-image: linear-gradient(-270deg, #A17FC5 0%, #7C80C7 50%, #424876 100%);
	background-color: #C06020;
	background-size: 200% 200%;
	-webkit-animation: gradientv 10s ease infinite;
	-moz-animation: gradientv 10s ease infinite;
	-o-animation: gradientv 10s ease infinite;
	animation: gradientv 10s ease infinite;
}
#contact ul {
	margin-top: 32px;
}
#contact ul li {
	display: inline-block;
	margin: 0 12px;
}
#contact ul li a {
	color: #fff;
	font-size: 24px;
}
#contact ul li a i {
	font-size: 24px;
}
@media screen and (max-width: 960px) {
	.inner {
		width: 80%;
	}
}
@media screen and (max-width: 480px) {
	#hero, #content .section {
		padding: 64px 0;
	}
	#mlh-trust-badge { 
		right: 0 !important;
		position: absolute !important;
	}
}
@media screen and (max-width: 320px) {
	#hero #logo-text {
		width: 80%;
	}
}

#coder-camps-logo {
  fill: #ff0000;
}
