
@import url('styles.css');
/*--------------------------------------------------------------
    Add dev styles here in addition to styles.css
--------------------------------------------------------------*/
#sponsors{
    padding: 7%;
    background-color: rgb(27, 33, 36);
    color: white;
    text-align: center;
  }

#prickly-pear img{
    display: block;
    width: 60%;
    margin: auto;
}

#barrel img{
    display: block;
    width: 50%;
    margin: auto;
}

#senita img {
    display: block;
    width: 75%;
    margin: auto;
}

#senita col {
    text-align: center !important;
}